.social
  +clearfix

  .left
    float: left
    margin: 0 $half-unit-layout 0 0

section
  @extend .text-center

  position: relative
  padding: ($quadruple-unit-layout * 1.25) $base-unit-layout

  h3
    font:
      size: rem(36px)

  &.grey
    background: $color-grey-200

  &.jam
    background: $color-jam

  .see-schedule
    +z-index(see-schedule)

    position: absolute
    bottom: -($double-unit-layout)
    left: 50%
    width: rem(160px)
    margin-left: -(rem(160px) / 2)

main.static section
  @extend .text-left

header
  position: relative
  background:
    color: $color-grey-600

  .features
    +z-index(features)

    position: absolute
    top: 0
    right: 0
    //min-height: 100%
    height: auto
    background: $color-jam

    ul
      @extend .unstyled
      margin: $base-unit-layout 0 ($double-half-unit-layout + rem(4px))

      li
        padding: $base-unit-layout 0 0
        margin: 0 $base-unit-layout
        font:
          size: rem(19px)

    +respond-to-size($screen-sm)
      display: none

  &.text
    height: rem(300px)

    .hero
      color: white
      width: 100%
      position: absolute
      bottom: $quadruple-unit-layout

      h1
        font:
          size: rem(45px)

  &.with-blurb
    height: rem(400px)

footer
  background: $color-black
  color: $color-grey-300
  font-size: rem(14px)
  padding: ($quadruple-unit-layout * 1.5) $base-unit-layout

  .logo
    $logo-width: $quadruple-unit-layout * 2

    display: block
    width: $logo-width
    height: $logo-width / 2
    margin-right: $double-unit-layout
    background:
      color: transparent
      image: url('#{$image-base}/logo/jam-horizontal-white.svg')
      position: left top
      repeat: no-repeat
      size: contain

    strong
      @extend .text-center

      opacity: 0
      display: block
      height: $logo-width / 2
      line-height: $logo-width / 2

    +respond-to-size($screen-sm)
      width: 100%
      margin-bottom: $double-unit-layout
      background:
        position: center top

  ul
    @extend .unstyled

    li
      a
        +transition(color .25s)

        display: block
        color: $color-grey-400
        padding: $quarter-unit-layout 0
        text-decoration: none

        +hover
          color: white

      +respond-to-size($screen-sm)
        text-align: center