.page-welcome
  header
    display: table
    height: 100vh
    width: 100%
    background:
      image: url('#{$image-base}/bg/hero-alt-welcome.jpg')
      position: center center
      repeat: no-repeat
      size: cover

    .hero
      display: table-cell
      vertical-align: middle

      .container-narrow
        position: relative
        color: white

        .intro
          +text-shadow(0 0 8px rgba(0,0,0,.25))

          h1
            margin: 0 0 $base-unit-layout
            line-height: 1.4
            font:
              size: rem(45px)

          p
            margin: 0
            color: $color-grey-50

          .button
            display: inline-block
            line-height: 1
            margin: $double-half-unit-layout 0 0
            padding: rem(22px) rem(26px)
            font:
              size: rem(16px)

  section#photoCarousel
    padding: 0

    .grid
      .grid-sizer
        width: 25%

      .grid-item
        width: 25%
        float: left
        height: 200px
        position: relative

        a
          display: block
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background:
            size: cover
            position: center center
            repeat: no-repeat

        &.big-width
          height: 300px

        &.bigger-width
          height: 400px

        &.biggest-width
          height: 500px

        //&.big-height
          //height: 300px

        // .biggest-height added for consistency
        //&.bigger-height, &.biggest-height
          //height: 400px

  section#getInvolved
    .button
      display: inline-block
      line-height: 1
      margin: 0 0 $double-unit-layout

    small
      display: block

      a
        color: $color-black
        font:
          size: rem(18px)

  section#topics
    .button
      margin-top: $double-unit-layout
      display: inline-block

    .topics
      .topic
        @extend .text-uppercase

        padding: $double-half-unit-layout 0
        font:
          size: rem(20px)

  section#speakers
    .speaker
      padding-top: $quadruple-unit-layout

      &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3)
        padding-top: $base-unit-layout

      +respond-to-size($screen-sm)
        width: 50%
        float: left

        &:nth-of-type(3)
          padding-top: $quadruple-unit-layout

      +respond-to-size($screen-xs)
        width: 100%
        float: none

        &:nth-of-type(2)
          padding-top: $quadruple-unit-layout

      img
        display: block
        width: rem(180px)
        height: rem(180px)
        margin: 0 auto $base-unit-layout

      small, strong, a
        display: block

      small
        padding-top: $quarter-unit-layout
        color: $color-grey

      a
        em
          opacity: 0
          font:
            size: rem(12px)
            style: normal

        margin-top: $base-unit-layout
        width: 100%
        height: 25px
        color: inherit
        background:
          color: transparent
          position: center center
          repeat: no-repeat
          size: auto 100%

        &#google-chrome-team
          background:
            image: url('#{$image-base}/speakers/companies/optimised/google.png')

        &#gosquared
          background:
            image: url('#{$image-base}/speakers/companies/optimised/gosquared.png')
            size: auto 85%

        &#government-digital-service
          background:
            image: url('#{$image-base}/speakers/companies/optimised/governmentds.png')
            size: auto 100%

        &#hire-space
          background:
            image: url('#{$image-base}/speakers/companies/optimised/hirespace.png')

        &#intuit
          background:
            image: url('#{$image-base}/speakers/companies/optimised/intuit.png')

        &#onefinestay
          background:
            image: url('#{$image-base}/speakers/companies/optimised/onefinestay.png')

        &#swiftkey
          background:
            image: url('#{$image-base}/speakers/companies/optimised/swiftkey.png')
            size: auto 85%

        &#the-dots
          background:
            image: url('#{$image-base}/speakers/companies/optimised/thedots.png')

        &#yplan
          background:
            image: url('#{$image-base}/speakers/companies/optimised/yplan.png')
            size: auto 70%

  section#sponsors
    .sponsors
      margin-top: $triple-unit-layout
      margin-bottom: $triple-unit-layout

      &:first-of-type
        margin-bottom: 0

      &:last-of-type
        margin-top: 0
        margin-bottom: $triple-unit-layout

    .button
      display: inline-block

  section#quote
    p
      line-height: 1.6
      font:
        size: rem(36px)

    a
      color: $color-black