.page-manifesto
  #team
    padding-bottom: $quadruple-unit-layout + $double-unit-layout

    h3
      line-height: 1
      margin-bottom: $quadruple-unit-layout

    .member
      position: relative

      img
        +border-radius(100%)

        display: block
        position: absolute
        width: rem(100px)
        height: rem(100px)
        left: 0
        top: 0
        background: $color-grey-100
        margin: 0

      .details
        padding: 0 $half-unit-layout 0 rem(100px)

        p
          margin: $half-unit-layout 0
          line-height: 1.5
          font:
            size: rem(15px)

        small
          a
            color: $color-black