.page-buy
  section
    padding-top: $double-unit-layout

    .buy-tickets-iframe
      background:
        color: transparent
        image: url('#{$image-base}/other/loading.gif')
        position: center center
        repeat: no-repeat
        size: rem(40px)