.page-programme
  main
    section
      .time
        .avatar
          +border-radius(100%)

          width: rem(160px)
          height: rem(160px)
          background: $color-grey-100
          margin: 0 auto $base-unit-layout

      .info
        @extend .text-left