.page-welcome
  header
    display: table
    height: 100vh
    width: 100%
    background:
      image: url('#{$image-base}/bg/hero-c.jpg')
      position: center center
      repeat: no-repeat
      size: cover

    .hero
      display: table-cell
      vertical-align: middle

      .container-narrow
        position: relative
        color: white

        .intro
          h1
            margin: 0 0 $base-unit-layout
            line-height: 1.4
            font:
              size: rem(45px)

          p
            margin: 0
            color: $color-grey-50

          .button
            display: inline-block
            line-height: 1
            margin: $double-half-unit-layout 0 0

  section#getInvolved
    .button
      display: inline-block
      line-height: 1
      margin: 0 0 $double-unit-layout

    small
      display: block

      a
        color: $color-black

  section#topics
    .topics
      .topic
        @extend .text-uppercase

        padding: $double-half-unit-layout 0
        font:
          size: rem(20px)

  section#speakers
    .speaker
      padding-top: $double-unit-layout

      img
        +border-radius(100%)

        display: block
        width: rem(160px)
        height: rem(160px)
        background: $color-grey-100
        margin: 0 auto $base-unit-layout

      small, strong, a
        display: block

      small
        padding-top: $quarter-unit-layout
        color: $color-grey

      a
        em
          opacity: 0
          font:
            size: rem(12px)
            style: normal

        margin-top: $base-unit-layout
        width: 100%
        height: 25px
        color: inherit
        background:
          color: transparent
          position: center center
          repeat: no-repeat
          size: auto 100%

        &#google-chrome-team
          background:
            image: url('#{$image-base}/speakers/companies/google.png')

        &#gosquared
          background:
            image: url('#{$image-base}/speakers/companies/gosquared.png')
            size: auto 85%

        &#government-digital-service
          background:
            image: url('#{$image-base}/speakers/companies/governmentds.png')
            size: auto 100%

        &#hire-space
          background:
            image: url('#{$image-base}/speakers/companies/hirespace.png')

        &#onefinestay
          background:
            image: url('#{$image-base}/speakers/companies/onefinestay.png')

        &#swiftkey
          background:
            image: url('#{$image-base}/speakers/companies/swiftkey.png')
            size: auto 85%

        &#the-dots
          background:
            image: url('#{$image-base}/speakers/companies/thedots.png')

        &#transferwise
          background:
            image: url('#{$image-base}/speakers/companies/transferwise.png')
            size: auto 80%

        &#yplan
          background:
            image: url('#{$image-base}/speakers/companies/yplan.png')
            size: auto 70%

  section#sponsors
    .sponsors
      margin-top: $triple-unit-layout
      margin-bottom: $triple-unit-layout

    .button
      display: inline-block

  section#quote
    p
      line-height: 1.6
      font:
        size: rem(36px)

    a
      color: $color-black