ul.sponsors
  @extend .unstyled

  li
    a
      @extend .text-center

      display: block
      height: $triple-unit-layout * 2
      line-height: $triple-unit-layout * 2
      background:
        color: transparent
        image: url('#{$image-base}/sponsors/optimised/adbrain.png')
        position: center center
        repeat: no-repeat
        size: 80% auto

      strong
        opacity: 0

    &#balsamiq
      a
        background:
          image: url('#{$image-base}/sponsors/optimised/balsamiq.png')
          size: 70% auto

    &#bohemiancoding
      a
        background:
          image: url('#{$image-base}/sponsors/optimised/bohemian-coding.png')
          size: auto 80%

    &#deskbeers
      a
        background:
          image: url('#{$image-base}/sponsors/optimised/deskbeers.png')
          size: 70% auto

    &#dotgrid
      a
        background:
          image: url('#{$image-base}/sponsors/optimised/dotgrid.png')
          size: auto 80%

    &#gocardless
      a
        background:
          image: url('#{$image-base}/sponsors/optimised/gocardless.png')
          size: 90% auto

    &#gro
      a
        background:
          image: url('#{$image-base}/sponsors/optimised/gro.png')
          size: auto 50%

    &#hirespace
      a
        background:
          image: url('#{$image-base}/sponsors/optimised/hirespace.png')

    &#lyst
      a
        background:
          image: url('#{$image-base}/sponsors/optimised/lyst.png')
          size: 40% auto

    &#marvelapp
      a
        background:
          image: url('#{$image-base}/sponsors/optimised/marvelapp.png')
          size: 60% auto

    &#podio
      a
        background:
          image: url('#{$image-base}/sponsors/optimised/podio.png')
          size: auto 50%

    &#product-design-guild
      a
        background:
          image: url('#{$image-base}/sponsors/optimised/product-design-guild.png')
          size: 100% auto

      +respond-to-size($screen-sm)
        a
          background:
            size: 100% auto !important

    &#treehouse
      a
        background:
          image: url('#{$image-base}/sponsors/optimised/treehouse.png')
          size: 90% auto

      +respond-to-size($screen-sm)
        a
          background:
            size: auto 50% !important

      &#gocardless
        a
          background:
            size: 80% auto !important